[2014-11-05 20:40] SDavisMedia opened #11 "Anonymous Posting in bbPress has works differently with CR activated"
Functionality isn't the issue here... more like user experience.

bbPress has a setting called _Anonymous Posting_ under Settings -> Forums. Unchecked by default, it prevents guests from creating topics and replies. The form is not shown and "You must be logged in to create new topics." takes its place.

Activate Content Restriction and all forums that are **not** restricted now display the form f

[2015-02-09 13:17] samikeijonen opened #14 "EDD Members integration"
Here is the idea. With Content Restriction Plugin you can restrict content based on which product you buy. With EDD Members you can restrict content based on time (membership length).

I have tested that these plugin works together. But what if we want to restrict content based on product and membership length.

1. I have two different page I want to restrict, page 1 and page 2.
2. You can see pag

[2015-02-09 19:39] pippinsplugins commented on #14
I'd LOVE to see this supported!

[2015-02-09 19:50] samikeijonen commented on #14
Okay, I'll give it a shot and let you know when I have something to show.

[2015-06-23 23:23] tnorthcutt opened #16 "Add ability to grant access to all of a custom post type"
Similar to #3, having the ability to grant access to all posts of a custom post type would be handy. E.g. someone buys access to a class, and they get access to all `lesson` posts.

Even more flexible would be the ability to grant access to terms in custom taxonomies, as well.

[2015-07-10 13:00] mindctrl opened #17 "Add options for text output"
We're often asked how to change the messages displayed when users don't have access to content. Would be nice to have options for those.

[2015-07-23 20:57] pippinsplugins commented on #17
It would be nice to have a setting for this.

[2015-07-28 13:38] JiveDig opened #20 "Simple template tag to check if current user has access"
We're doing a ton of custom content, and need to quickly check if the current user has access to the page they are on.

Similar to the edd_cr_user_can_access() function.. but the only parameter would be optional user ID, which would default to current user.

So, it would check if the current user purchased the correct products required to view the current post they are on.

[2015-07-28 14:21] JiveDig commented on #20
I've currently hacked away at it. I'm sure there is a much more efficient way to do this, but it's working.

[code]

[2015-07-28 19:28] pippinsplugins commented on #20
Big :+1: from me

[2015-07-28 19:42] JiveDig commented on #20
Great.. You guys will probably make it way better then mine, but I added the post_id as a variable... so I can do my checks within a loop as well.

[code]

[2015-07-30 16:32] JiveDig commented on #20
Okay, I dug into the_content filter already present in this add-on. I found a much easier way.
[code]

[2015-09-14 17:49] cklosowski commented on #20
My only concern with the provided example is that a true `template tag` doesn't take any parameters, just relies on standard `global $post` data.

I think this will work well as a template tag however, but thinking of introducing it as a true template tag, no arguements and returns `NULL` when there is no `$post` global.

[2015-09-14 18:03] cklosowski commented on #20
Curious to the thoughts here @pippinsplugins @JiveDig

[2015-09-14 22:44] cklosowski commented on #17
@mindctrl @pippinsplugins curious what you guys think. of the commits made here for `issue/17` branch

[2015-09-15 21:39] pippinsplugins commented on #17
Looks good, though the first thing people are going to ask for is product-specific messages. Thoughts on adding an option for that in the CR metabox?

[2015-09-16 22:10] cklosowski commented on #17
I think it's feasible, but should be in a separate issue.

[2015-09-16 22:21] cklosowski commented on #17
The reason I say new issue is:
a) First let's root out any weird issues we have with the current system in the PR
b) Let's see IF it's actually requested a ton, we know users have been wanting this feature, and it could appease them for now, while we work on adding the per-product ones in a later update, after this has had some time to bake and prove itself in the wild.

[2015-09-16 22:25] pippinsplugins commented on #17
:+1:

[2015-09-16 22:34] cklosowski opened #24 "Allow per-product restriction messages"
Not sure how this plays out...if we should a specific error message for a product, or allow a page to be restricted with a specific message, but we might want to look at adding this, as discussed in #17.

I Could see both sides of this, messages per-product, or messages per restricted content.

[2015-09-16 22:35] mindctrl commented on #17
@cklosowski I think we need to run this through wpautop. Not getting line breaks in my custom messages.

[2015-09-16 22:38] pippinsplugins commented on #24
:+1:

[2015-09-17 18:46] cklosowski commented on #17
@mindctrl will test it out.

[2015-09-17 18:56] cklosowski commented on #17
Confirmed that we need `wpautop( $message )` to be sure it returns correctly with the white spacing in tact.

[2015-09-17 19:23] #11 closed

[2015-09-17 19:26] #20 closed

[2015-09-17 19:26] mindctrl commented on #17
@cklosowski looks good now.

[2015-09-17 19:48] cklosowski commented on #17
cool merging and closing

[2015-09-17 19:49] #17 closed

[2015-09-17 20:09] JiveDig commented on #20
Looks good Chris. So parameters are back in?

[2015-09-18 18:57] mindctrl opened #26 "Update .pot file with new strings"
We added some new strings in 2.1 but forgot to update the .pot file. Let's update it on the next release.

[2015-10-01 19:28] mindctrl opened #27 "PHP Warnings when used with Wallet extension"
When adding funds to a your wallet on the front end, you get these debug notices when landing on the purchase confirmation page:

[code]

We're not checking if `$files` is there and an array before running `array_unique` on it, and we're not checking if `$ids` is valid before looping through `foreach`. [Reference](https://github.com/easydigitaldownloads/EDD-Content-Restriction/blob/2.1/includes/fu

[2015-10-05 20:35] #26 closed

[2015-10-05 20:36] #27 closed

[2015-10-05 20:36] pippinsplugins commented on #27
@mindctrl Could you go ahead and version bump and deploy 2.1.1?

[2015-11-09 17:49] mindctrl opened #30 "Multiple Restriction Message doesn't work"
When multiple items are assigned in the content restriction settings of a page, the single restriction message is displayed instead of the multiple restriction message.

[Reported here](https://secure.helpscout.net/conversation/137288582/20819/). Confirmed locally. I have a fix incoming.

[2015-11-09 19:21] pippinsplugins commented on #30
Looks good. @mindctrl merge and deploy at will!

[2015-11-09 19:55] #30 closed

[2015-12-01 14:38] pippinsplugins opened #32 "Restrict page to customers with active license key"
Similar to our (minimal) integration with Recurring Payments, we should add support for requiring that the customer has a valid license key to view the content.

This would allow for better time-based access. Once a license key expires, access would be revoked.

[2016-01-15 20:34] boluda opened #33 "Looking for a MO file in an incorrect folder"
Hi there. I noticed that the plugin is looking for the MO file at:

wp-content/pluginswp-content/plugins/edd-content-restriction/languages/edd-cr-es_ES.mo

Notice the missing slat at "pluginswp-content"

![image](https://cloud.githubusercontent.com/assets/4599915/12364548/8df5369c-bbcf-11e5-9e2f-be9290140a24.png)

Sorry if it's not an issue!

[2016-02-03 19:37] tnorthcutt commented on #24
Just a thought: if messages per-product were added, what would happen if more than one product allows access to a piece of restricted content? Seems like per restricted content messages avoids that issue, assuming the messages are only ever shown in the context of a piece of restricted content.

[2016-02-03 20:57] pippinsplugins commented on #24
@tnorthcutt Good point. That will get tricky but I'm sure we can come up with something.

[2016-02-08 19:16] cklosowski opened #34 "Shortcodes do not have 3rd parameter allowing filters to run"
in our shortcodes, we define the defaults and `$atts` variable, however without the last item specified (a string to allow filtering) we cannot filter on the attributes.

For example the `edd_restirct` shortcode needs:
[code]

Needs to be
[code]

[2016-02-08 20:49] #34 closed

[2016-02-08 20:57] cklosowski commented on #33
This doesn't seem to be a bug in Content Restriction. When I look at the provided error I see the following:
`wp-content/pluginswp-content/plugins/...` which tells me there is an error somewhere in determining the `WP_CONTENT` constant. When I test this, I have no issues getting the proper path to the localization files.

@boluda do you have custom `WP_CONTENT_DIR` and `WP_PLUGIN_DIR` constants? I

[2016-02-08 20:57] #33 closed

[2016-02-09 08:16] boluda commented on #33
Hi Chris! That happens only with some EDD plugins, the rest are fine. I'm using Query Monitor, and the others are correctly using the proper folders.

[2016-02-09 15:58] pippinsplugins commented on #33
Can you double check your wp-config for any settings there?

[2016-02-09 16:20] boluda commented on #33
Hi Pippin!

Done. Nothing. Triple checked. The thing is that only happens with some EDD plugins, but not all of them. Take a look at this screenshot.

http://snag.gy/rRyVE.jpg

As you can see, "edds" misses the /, while "edd-manual-purchases" doesn't. Weird!

BTW, this is a MINOR problem for me, I can just use the other folder. I'm just reporting to improve the plugin, so there is no rush :)

[2016-02-09 16:54] pippinsplugins commented on #33
That's incredibly weird . . . .

[2016-02-13 06:49] boluda commented on #33
Yeah, I know. Take a look at this screenshot:

http://snag.gy/eW6qY.jpg

As you can see, with edd-csr there is no problem, but with edd-cr, the path is incorrect. I'm trying to look for any differences on how it's done, but they seem quite the same.

[2016-02-13 06:59] boluda commented on #33
Uhmmm... well, in fact there is something. Andrew uses

`$lang_dir = dirname( plugin_basename( __FILE__ ) ) . '/languages/';
`
While you use:

`$lang_dir = EDD_CONTENT_RESTRICTION_DIR . '/languages/';`

EDD_CONTENT_RESTRICTION_DIR being

`define( 'EDD_CONTENT_RESTRICTION_DIR', plugin_dir_path( __FILE__ ) );
`

Both approaches seem to be correct, any thoughts?

[2016-02-15 21:44] pippinsplugins commented on #33
Both should work fine . . . can you var_dump() the value of WP_CONTENT_DIR and WP_PLUGINS_DIR?

[2016-02-16 10:22] boluda commented on #33
Sure:

WP_CONTENT_DIR  -> string(36) "/usr/home/watomic.com/web/wp-content"
WP_PLUGINS_DIR  -> string(14) "WP_PLUGINS_DIR"

[2016-02-16 10:24] boluda commented on #33
Sure:

string(49) "/usr/home/0YhWOD6Pr3f1/watomic.com/web/wp-content"
string(57) "/usr/home/0YhWOD6Pr3f1/watomic.com/web/wp-content/plugins"

[2016-02-17 20:25] topher1kenobe opened #36 "CR UI on CCF Admin"
When Custom Checkout Fields 2 and CR are both active, CR UI visible on CCF UI.
![selection_071](https://cloud.githubusercontent.com/assets/341412/13123546/a3ee4248-d58a-11e5-9999-214e584f698d.png)

[2016-02-17 20:26] chriscct7 commented on #36
It's also on FES
On Feb 17, 2016 3:25 PM, "Topher" <notifications@github.com> wrote:

[2016-02-17 22:43] pippinsplugins commented on #33
And what does `EDD_CONTENT_RESTRICTION_DIR` show?

[2016-02-18 04:48] boluda commented on #33
Hi again!

string(82) "/usr/home/0YhWOD6Pr3f1/watomic.com/web/wp-content/plugins/edd-content-restriction/"

[2016-02-18 20:20] pippinsplugins commented on #33
None of this makes sense. All of those paths are correct and would result in the properly file location.

What if EDD CR and EDD core are the only plugins active?

[2016-02-19 05:53] boluda commented on #33
Ok, let me check that!

[2016-02-22 23:42] Shelob9 opened #37 "inline docs for edd_cr_user_can_access() are wrong"

[2016-02-26 20:37] pippinsplugins commented on #36
@mindctrl Looks good. Can you deploy this update please?

[2016-02-26 21:38] #36 closed

[2016-03-08 15:46] topher1kenobe opened #40 "UI Appears on Media Pages"
Media Pages are not supported by CR, but the UI appears on the admin pages for them.  We need to either make it not appear, or support them.

[2016-04-20 21:49] mintplugins opened #41 "Compatibility with EDD Bookings 2"
"Schedules" in EDD Bookings 2.0 should probably not have the content restriction metabox.

<img width="1252" alt="screen shot 2016-04-20 at 4 58 49 pm" src="https://cloud.githubusercontent.com/assets/1638128/14691627/400ba8fc-0720-11e6-9f70-8b05a7db4eac.png">

[2016-04-20 21:59] mintplugins commented on #41
@mindctrl mentioned a smarter way to do this might be to only allow public post types by default for Content Restriction - rather than targeting every new post type that might come along in the future.

[2016-04-22 18:27] pippinsplugins commented on #41
:+1:

[2016-04-22 18:30] pippinsplugins commented on #37
Thanks!

[2016-04-22 18:30] #37 closed

[2016-04-22 18:30] pippinsplugins commented on #40
Related #41

[2016-04-28 06:53] nima6286 opened #42 "connect vps to edd + secure files in vps"
how can connect vps files to edd and secure them?

[2016-04-28 19:25] pippinsplugins commented on #42
Hi there!

Please go ahead and open a support ticket through our support portal: https://easydigitaldownloads.com/support

we use GitHub for development tracking only.

[2016-04-28 19:25] #42 closed

[2016-07-22 16:09] mintplugins opened #43 "Put settings on sub settings page."
Move all Content Restriction settings from the "Extensions" > Main" tab to "Extensions" > "Content Restriction" tab.

[2016-07-22 19:27] pippinsplugins commented on #43
@mintplugins Up for tackling this next week?

[2016-07-22 19:38] mintplugins commented on #43
@pippinsplugins For sure!

[2016-08-24 21:37] mintplugins opened #44 "Allow restricted messages to be filtered"
If a customer views content restricted by a recurring product that is now expired, they will see "This content is restricted to buyers.".

The site owner has no control over that message as it is hard coded. This should likely use the "edd_cr_get_single_restriction_message" and "edd_cr_get_any_restriction_message" like the ones above do:

https://github.com/easydigitaldownloads/EDD-Content-Restric

[2016-09-15 12:57] mintplugins opened #45 "If saving more than 2 restriction parents with variation, 3rd variation un-saved."
If you are setting the Content Restriction parents and choosing variations, if you set up more than 2, the 3rd one fails to save the variation correctly:

![3rd-variation-fail](https://cloud.githubusercontent.com/assets/1638128/18550514/45f08488-7b22-11e6-8cd2-14bed06742b1.png)

[2016-09-16 18:30] pippinsplugins commented on #24
Just got another request for this.

@ghost1227 let's make it happen.

[2016-09-16 21:04] ghost1227 commented on #24
been a while since I really looked at CR! This should be a fun walk down memory lane... What are we thinking? Per content item? Or Per Product? I can't really tell which you're leaning towards from the discussion...

[2016-09-19 02:16] pippinsplugins commented on #24
A textarea under the content restriction options that lets it be set on a particular page.

It's more `per-page message` than `per-product message`.

[2016-09-19 14:20] ghost1227 commented on #45
@pippinsplugins patch against master or are we going to add a 2.1.5 release branch?

[2016-09-19 14:35] pippinsplugins commented on #45
`master` please.

[2016-09-19 14:39] ghost1227 commented on #45
This actually appears to affect 2+, not 3+

[2016-09-19 15:08] ghost1227 commented on #45
@pippinsplugins ^

[2016-09-19 15:42] ghost1227 commented on #45
@pippinsplugins I've tested a fix locally by adding `$( this ).attr( 'data-key', key );` to the `admin-scripts.js` file in EDD core on line 69. In my tests, that fixes all issues brought up in this ticket. Since the fix is in core and not CR itself, where do you want me to submit it? Does it belong in `master`?

[2016-09-19 16:07] ghost1227 commented on #45
This is fixed once https://github.com/easydigitaldownloads/easy-digital-downloads/issues/4953 is merged.

[2016-09-19 17:29] ghost1227 commented on #43
This has been fixed in the [release/2.2](https://github.com/easydigitaldownloads/EDD-Content-Restriction/tree/release/2.2) branch.

[2016-09-19 17:29] #43 closed

[2016-09-19 17:41] ghost1227 opened #47 "Pages display broken on receipt"
Discovered this while testing another issue.

![screen shot 2016-09-19 at 12 37 38 pm](https://cloud.githubusercontent.com/assets/36433/18642467/6147b00c-7e66-11e6-8412-fbeab285ff8b.PNG)

[2016-09-19 17:53] ghost1227 commented on #47
Note that this bug only happens if another plugin is already editing the receipt. However, it exists because the method we used to add pages to the receipt is horrible.

[2016-09-19 18:16] ghost1227 commented on #47
@pippinsplugins I've fixed the current code to work correctly, but the Pages section looks a little derpy... any thoughts on how we can improve this so it's not so out of place?

![screen shot 2016-09-19 at 1 15 42 pm](https://cloud.githubusercontent.com/assets/36433/18643563/51d0050c-7e6b-11e6-81f3-1dcc29bc7863.PNG)

[2016-09-19 18:25] ghost1227 commented on #47
One thing I’m pondering is making it such that the `edd_cr_get_restricted_pages` function returns pages per product instead of just pages, and adding the pages to the individual product line items instead of in their own single-cell table.

[2016-09-19 18:42] pippinsplugins commented on #47
Might be nice to support both options.

[2016-09-19 18:45] ghost1227 commented on #47
Supporting pages per product would require adding an action to the receipt shortcode in Core. We're severely lacking in flexibility in that shortcode... Basically the only places that are hookable are the end of the main table (where license keys are), after the main table, and after each file in a given download. The actual rows are skipped completely.

[2016-09-19 18:45] ghost1227 commented on #47
By supporting both, you mean adding a select option to choose between separate table and inline in products table?

[2016-09-19 18:47] ghost1227 commented on #47
I propose adding an action `edd_payment_receipt_after_download` just before the closing `</tr>` tag on line 288 of `shortcode-receipt.php`

[2016-09-19 19:46] pippinsplugins commented on #47
Yes.

New action sounds fine.

[2016-09-19 19:53] ghost1227 commented on #47
@pippinsplugins The below screenshot shows both of the two possibilities I've worked out. The table method can be implemented immediately, while the inline method requires merging the patch I've written for https://github.com/easydigitaldownloads/easy-digital-downloads/issues/4956. I'm not sure which one I prefer, or if both should be included. Thoughts?

![screen shot 2016-09-19 at 2 50 59 pm](ht

[2016-09-19 20:06] ghost1227 commented on #47
How it looks with multiple files/downloads:

![screen shot 2016-09-19 at 3 06 12 pm](https://cloud.githubusercontent.com/assets/36433/18647219/a4f58022-7e7a-11e6-85b8-67de8b617e51.PNG)

[2016-09-19 20:12] pippinsplugins commented on #47
I think I like that

[2016-09-19 20:13] ghost1227 commented on #47
After modifying the initial table to display both product and pages instead of just a dumped list of pages, I prefer the standalone Pages table. As @SDavisMedia said, it's more inline with what we do in other plugins.

[2016-09-19 20:13] ghost1227 commented on #47
@pippinsplugins which one? That screenshot shows two possibilities...

[2016-09-19 20:14] ghost1227 commented on #47
Me: Which one? Either/or?
@pippinsplugins: Yes
Me: ...

[2016-09-19 20:18] pippinsplugins commented on #47
Oh sorry, I missed that.

I thought we were going to keep the existing display option but add an alternative that only shows the pages inline with the products instead of having a `Pages` section. Am I confused?

[2016-09-19 20:22] ghost1227 commented on #47
After my modification to the standalone pages table, I don't think the inline option is needed any longer. I included it in the screenshot to let you weigh in. My issue with the original table was how awkward it looked to have a single-column list being dumped into the page with no context. Adding the ability to split pages into per-product rows and adding column headers resolved my issue. In my o

[2016-09-19 20:37] ghost1227 commented on #45
Just for sanity sake, the `Has PR` tag is only semi-accurate. The PR is actually in EDD Core, referenced in my previous comment.

[2016-09-19 21:01] ghost1227 commented on #40
Fixed with https://github.com/easydigitaldownloads/EDD-Content-Restriction/pull/51

[2016-09-19 22:16] #40 closed

[2016-09-19 22:17] pippinsplugins commented on #41
@ghost1227 can you confirm this is fixed with #51?

[2016-09-19 22:43] ghost1227 commented on #41
I used both Bookings and the Media pages to test during writing. This fixes both.

[2016-09-19 22:56] pippinsplugins commented on #41
:+1:

[2016-09-19 22:56] #41 closed

[2016-09-20 17:11] ghost1227 commented on #44
I've added a filter that allows us to edit the message. Now we've got to close out https://github.com/easydigitaldownloads/edd-recurring/issues/512 to resolve this issue.

[2016-09-20 17:35] ghost1227 commented on #32
Would this be better added to SL or CR?

[2016-09-20 19:35] pippinsplugins commented on #32
Let's keep it in CR.

[2016-09-20 19:39] pippinsplugins commented on #44
@ghost1227 see my comment on the RP repo.

[2016-09-20 19:57] ghost1227 commented on #44
Replied....

[2016-09-21 22:57] SDavisMedia commented on #47
I'm having issues here and I tried to track it down based on my site data but I can't put a finger on it. Here's what's happening:

![image 2016-09-21 at 3 50 48 pm](https://cloud.githubusercontent.com/assets/2359131/18731830/7a1c5700-8013-11e6-8b09-210cc250c8d1.png)

That's an image file in my media library. I _cannot_ find the connection between that file and my product that restricts the page y

[2016-09-21 23:16] SDavisMedia commented on #45
I've replicated the original issue here on EDD `master`. EDD `issue/4953` fixes it for me. :+1:

[2016-10-10 15:35] pippinsplugins commented on #47
@SDavisMedia Try this:

1. Delete the row on the product edit screen
2. Add new file
3. Save product

Does that clear it?

[2016-10-10 15:36] pippinsplugins commented on #45
Closing as fixed since it was fixed in core.

[2016-10-10 15:36] #45 closed

[2016-10-10 21:46] SDavisMedia commented on #47
@pippinsplugins The product didn't have any files to begin with. However, adding one file, adding two files, and removing one of those two files had no effect on the the photo link showing up. Product files don't appear to be related.

[2016-10-11 14:42] pippinsplugins commented on #47
Weird . . . Clean site otherwise? That makes me think a plugin or something is interfering with the `pre_get_posts` action, resulting in the `Pages` query returning unexpected post types.

[2016-10-11 17:54] SDavisMedia commented on #47
Fairly clean. It's my main test site but I don't have anything funky going on or an extensive history. I'll deactivate some stuff to see if I can get different behavior.

[2016-10-11 18:15] SDavisMedia commented on #47
I can't find any data that would connect that media entry to the Content Restriction product. I've looked all over. And I can't replicate this at all with a new CR product. We might have to ignore my case here. My product came from an older site and was exported/imported. Perhaps that's related.

I'd say this is good to go. :+1:

[2016-10-25 18:14] SDavisMedia opened #55 "Move settings to subsection"
https://easydigitaldownloads.com/development/2016/01/07/updating-extension-settings-for-subsections-in-2-5/

[2016-11-01 16:27] #55 closed

[2016-11-01 16:28] pippinsplugins commented on #55
Merged! Deploy at will.

[2016-11-02 18:14] mintplugins commented on #47
I tested here and everything looks good!

<img width="734" alt="screen shot 2016-11-02 at 2 13 11 pm" src="https://cloud.githubusercontent.com/assets/1638128/19941473/9ba46d18-a106-11e6-8ccd-0e68b2cbbacf.png">

[2016-11-02 18:14] #47 closed

[2016-11-28 20:38] ghost1227 opened #57 "Add support for bundles to shortcodes"
Currently, the content restriction shortcode only recognizes users who purchased an actual product. In other words, if I have a page restricted to users who have purchased 'Product A', and 'Product A' is included in the bundle 'Product B', common sense says that users who purchased 'Product B' have technically purchased 'Product A' and should be allowed access to the restricted content.

Proposal:

[2016-11-28 20:38] ghost1227 commented on #57
RE: https://secure.helpscout.net/conversation/284054848/48075/?folderId=180504

[2016-11-29 16:28] ghost1227 commented on #57
@pippinsplugins see my comment on the commit please

[2016-11-29 17:32] pippinsplugins commented on #57
It's not the most efficient in the world but I'm not seeing a better way to do it.

[2016-11-29 17:35] ghost1227 commented on #57
At least I'm not the only one...

[2016-11-29 22:57] ghost1227 commented on #32
I feel like the method I used here is convoluted, but I honestly can't think of a more streamlined way. Any suggestions @pippinsplugins?

[2016-11-29 23:06] pippinsplugins commented on #32
I don't think this should be a site-wide setting. It should be page specific, similar to the option to require an active subscription.

[2016-11-29 23:18] ghost1227 commented on #32
Well... ok! (Don't remember how we did active subscriptions anymore, gotta look it up again)

[2016-11-29 23:20] pippinsplugins commented on #32
Activate Recurring Payments and the option will show up in the content restriction metabox.

[2016-11-29 23:22] ghost1227 commented on #32
I meant code wise 😛 Already found it

[2016-12-01 19:19] SDavisMedia commented on #57
`issue/57` is working perfectly on my end. Tested a complete page restriction as well as `[edd_restrict]` shortcode.

[2016-12-05 21:10] pippinsplugins commented on #32
@ghost1227 any progress on making this product specific?

[2016-12-05 21:33] pippinsplugins commented on #57
just one small change on the PR.

[2016-12-05 23:01] pippinsplugins commented on #44
Works great.

[2016-12-05 23:01] #44 closed

[2016-12-05 23:01] pippinsplugins commented on #44
Updated issue title to properly reflect the real change made here.

[2016-12-07 17:23] ghost1227 commented on #32
@pippinsplugins This is now ready for testing

[2016-12-07 17:46] ghost1227 opened #61 "Add helper function to streamline determining restriction messages"
For the sake of getting 2.2 released, I'm opting to not include the unfinished helper function I've been toying with. The idea here is to implement a more streamlined function to get content restriction messages. Right now, we've got redundant checks in place (most notably to enforce author access to content) due to the way that access is determined. I'd like to make this a bit more streamlined an

[2016-12-07 17:48] ghost1227 commented on #24
For the sake of expediency (and getting 2.2 pushed out) I'm not finishing the helper function I was working on for this issue. I've temporarily coded the support for per-content messages into the current workflow, which isn't optimal... but it does work. I've opened a separate issue on streamlining the message determination process which will be addressed for the next update. This is now ready for

[2016-12-07 19:19] SDavisMedia commented on #32
Unfortunately, I can't get this to work. Once I gain access to the restricted page, I _cannot_ lose access. Here's a recording of how I'm testing: http://quick.as/7k3ns47lb

I've tried to make sure there's no bad data lingering on the customer record. Can't see any reason why it wouldn't work for me but it works for @ghost1227. So we definitely need another tester.

[2016-12-07 19:25] pippinsplugins commented on #32
@SDavisMedia I think some of the changes I just requested on the PR may address that.

[2016-12-07 19:49] SDavisMedia commented on #24
This is working well for me but I think it needs to allow very light HTML. It should probably follow the same approach as the post excerpt. One reason for this is linking to the product that restricts the content, like the default message does.

[2016-12-07 20:24] pippinsplugins commented on #32
@ghost1227 sorry but @SDavisMedia is correct. Once a customer has access, that access cannot be revoked by disabling the license. I've just replicated on the latest version of the branch.

[2016-12-07 20:35] ghost1227 commented on #32
@pippinsplugins I can't replicate.... I've tested both expiring and disabling and both work as expected every single time

[2016-12-07 21:38] SDavisMedia commented on #32
All is well here on `issue/32`. :+1:

[2016-12-07 21:40] #32 closed

[2016-12-07 21:43] #57 closed

[2016-12-07 21:44] pippinsplugins commented on #24
@ghost1227 could you add support for basic HTML through `wp_kses_post()`?

[2016-12-07 22:32] ghost1227 commented on #24
@SDavisMedia @pippinsplugins Basic HTML support and rich editing added!

[2016-12-08 00:51] SDavisMedia commented on #24
Oh wow lol... that's the whole kitchen sink. I'm not mad at it. Working well on my end. :+1:

[2016-12-08 02:21] pippinsplugins commented on #24
:+1:

[2016-12-08 02:22] #24 closed

[2016-12-13 15:28] ghost1227 opened #63 "edd_restricted_pages shortcode broke since 2.2"
A user [reported](https://secure.helpscout.net/conversation/291265897/49100/?folderId=180499) that the edd_restricted_pages shortcode has been broken since 2.2. I've verified this, but as the shortcode itself wasn't changed in 2.2, i'm not sure what's causing the issue.

[2016-12-13 15:36] ghost1227 commented on #63
It has to do with a change in what `edd_cr_get_restricted_pages` is returning.

[2016-12-13 15:41] ghost1227 commented on #63
Strangely, the `edd_cr_get_restricted_pages` function didn't actually change in `2.2`.

[2016-12-13 15:51] ghost1227 commented on #63
Correction, it did change. Change happened here: https://github.com/easydigitaldownloads/EDD-Content-Restriction/commit/aa65cdded8604380ac4257d8eb9233ff99d0c9b1

[2016-12-14 18:39] #63 closed

[2016-12-15 14:51] ghost1227 opened #65 "Restricted pages shortcode still broken"
We just got a report that the `edd_restricted_pages` shortcode is still not working correctly. She's getting a list of _all_ restricted pages instead of those the user has access to, and is also seeing blank list items.

[2016-12-15 17:23] #65 closed

[2016-12-19 20:17] ghost1227 opened #68 "Settings section appears twice"
RE: https://secure.helpscout.net/conversation/294383293/49463/?folderId=180504

[2016-12-19 20:31] #68 closed

[2016-12-22 19:15] ghost1227 opened #70 "Restriction message missing when using edd_restrict shortcode"
RE: https://secure.helpscout.net/conversation/295929670/49661/

[2016-12-22 19:15] #70 closed

[2016-12-22 19:31] SDavisMedia opened #71 "Move meta box behind a checkbox toggle"
I think it would be good to follow the Software Licensing approach and put the CR metabox settings behind a checkbox toggle.

<img width="1218" alt="image 2016-12-22 at 11 23 27 am" src="https://cloud.githubusercontent.com/assets/2359131/21437680/1a19fdac-c83a-11e6-8ef1-af531ac1d455.png">

I think this is important based on a user error I just made. Had a product selected as restricting the Page a

[2016-12-22 19:32] SDavisMedia commented on #71
<img width="314" alt="screenshot 2016-12-22 11 32 28" src="https://cloud.githubusercontent.com/assets/2359131/21437713/561f03b0-c83a-11e6-818e-f0e999ff3d4f.png">

:+1:

[2016-12-22 19:37] spencerfinnell commented on #71
"Restrict this {post_type}" -- the rest is implied by the checkbox itself. But I do think that would improve the UX.

[2016-12-22 20:14] SDavisMedia commented on #71
@spencerfinnell copied the terminology straight from Software Licensing as an example of what I'm talking about, just in case this sits for a year. But simpler is better for sure.

[2016-12-22 22:29] pippinsplugins commented on #71
:+1:

[2017-01-03 00:55] pippinsplugins opened #72 "Pages shortcode should respect variable price selections"
Imagine you have a product with two price options, A and B. You also have two pages, one of them restricted to variation A and one to variation B.

The [edd_restricted_pages] shortcode will show both pages regardless of which price option was purchased, even though customers only have access to one of them.

[2017-01-03 00:55] pippinsplugins commented on #72
Ticket here: https://secure.helpscout.net/conversation/299628256/50136/?folderId=180504

[2017-01-07 19:38] SDavisMedia opened #73 "add and/or restriction capabilities"
Page A can be restricted to Product A, Product B, and Product C all at once. It cannot, however, be restricted to Product A _or_ Product B _or_ Product C all at once. I think the second scenario should be supported.

In my mind, it can be as simple as a checkbox setting that toggles the conditional logic between the two approaches.

[2017-01-09 20:50] pippinsplugins commented on #73
This would be an excellent improvement.

[2017-01-26 18:30] mintplugins opened #74 "Make restriction messages filterable."
There are cases where serving up a more relevant error message would be helpful to the user. By making those messages filterable, you could tell the user exactly why they can not access.

**Proposal:**
Add a filter which allow for custom messages in the following functions:
edd_cr_get_single_restriction_message()
edd_cr_get_multi_restriction_message()
edd_cr_get_any_restriction_message()

[2017-01-31 22:14] pippinsplugins commented on #74
:+1:

[2017-01-31 22:31] cklosowski commented on #74
Seems like a great idea.

[2017-02-17 16:17] SDavisMedia opened #75 "Notice: Undefined variable: message ... on some unrestricted pages"
<img width="1230" alt="screenshot 2017-02-17 08 15 54" src="https://cloud.githubusercontent.com/assets/2359131/23073141/640619ba-f4e9-11e6-9139-efb99c7cd253.png">

https://github.com/easydigitaldownloads/EDD-Content-Restriction/blob/master/includes/user-functions.php#L153

[2017-02-17 16:25] pippinsplugins commented on #75
@ghost1227 could you please work on this after Commissions 3.3 beta is finished?

[2017-02-17 16:40] ghost1227 commented on #75
Sure thing!

[2017-03-29 17:21] SDavisMedia commented on #75
@ghost1227 reminder ping

[2017-03-29 17:39] SDavisMedia opened #76 "Display useful restriction message on restricted bbPress forums"
When a Forum is restricted, this is all that shows:

<img width="480" alt="screenshot 2017-03-29 10 38 59" src="https://cloud.githubusercontent.com/assets/2359131/24468085/f1f0f172-146b-11e7-9665-4dce55f7d78e.png">

https://github.com/easydigitaldownloads/EDD-Content-Restriction/blob/master/includes/modules/bbpress.php#L275

[2017-03-29 17:57] SDavisMedia commented on #76
@ghost1227

[2017-05-30 18:02] #75 closed

[2017-05-30 18:02] pippinsplugins commented on #75
Fixed.

[2017-06-16 14:42] SDavisMedia commented on #73
New request for this: https://secure.helpscout.net/conversation/373374294/60250/

[2017-07-22 03:51] SDavisMedia opened #77 "New download restriction rows do not save in metabox"
When creating a WordPress Page and configuring which downloads will restrict that page, you can add a new download (repeatable row) but it will not save when you Save/Update the page.

This is only broken on EDD `release/2.8` branch. It works fine on EDD `master`.

I cannot figure out if this is because of [EDD issue 2704](https://github.com/easydigitaldownloads/easy-digital-downloads/issues/2704)

[2017-07-25 14:07] pippinsplugins commented on #77
I've confirmed it only happens on release/2.8 but don't yet see why.

I don't think https://github.com/easydigitaldownloads/easy-digital-downloads/issues/2704 is related. If it was it would almost certainly be due to HTML changes of the repeatable rows, but I've compared the resulting HTML between master and release/2.8 of core and they're identical for Content Restriction.

[2017-08-15 00:34] mintplugins commented on #77
Confirmed. Now that 2.8 is released I think this is more of a priority. Customer ticket reporting it here:
https://secure.helpscout.net/conversation/414142903/64826/?folderId=180499

[2017-08-15 01:02] mintplugins commented on #77
I did some digging and found it's caused by the JS setting the values of all fields to empty - which happens to include nonce fields. Because those nonce fields are submitted as blank, it doesn't pass the nonce check in CR.

The values of all fields are set to empty here:
https://github.com/easydigitaldownloads/easy-digital-downloads/blob/master/assets/js/admin-scripts.js#L42

[2017-08-15 01:26] mintplugins commented on #77
By moving the nonce field outside the repeatable rows, this is solved.

[2017-08-15 01:34] SDavisMedia commented on #77
It's fixing the repeatable rows but causing the checkbox settings to duplicate.

<img width="646" alt="screenshot 2017-08-14 18 33 38" src="https://user-images.githubusercontent.com/2359131/29298779-29e875d0-811f-11e7-86c5-a026e54f0faa.png">

[2017-08-15 01:46] mintplugins opened #79 "Software Licensing checkboxes are duplicated"
Even in EDD 2.7 (which indicates this is not related to the metabox updates in EDD 2.8), the Software Licensing checkbox is duplicated if you have more than 1 product required for a post:

<img width="656" alt="screen shot 2017-08-14 at 9 45 28 pm" src="https://user-images.githubusercontent.com/1638128/29299049-076905f4-813a-11e7-9090-141dd9043976.png">

[2017-08-15 01:47] mintplugins commented on #77
I've confirmed that the duplicate checkboxes are an issue on CR master and in EDD 2.7 - which indicated this is a separate bug altogether. I've opened a separate issue for that here:

https://github.com/easydigitaldownloads/EDD-Content-Restriction/issues/79

[2017-08-29 21:42] mintplugins opened #80 "Make [edd_restrict] shortcode have option for any product."
When you are restricting a page, you can choose to allow any purchased product to unlock the page.

However, the [edd_restrict] shortcode does not allow for that. A custom has requested that it have the option to do so.

https://secure.helpscout.net/conversation/422662250/65724/

[2017-09-08 17:24] pippinsplugins commented on #77
Another report of this.

[2017-09-08 17:25] pippinsplugins commented on #77
PR works for me.

[2017-09-08 17:26] #77 closed

[2017-09-08 17:26] pippinsplugins commented on #77
Deploying now.

[2017-09-17 00:51] mintplugins opened #81 "Make [edd_restrict] shortcode use custom "Content is restricted" messages"
For normal restricted posts, site owners can enter a custom message which will be shown to users without access. That message by default is:

"This content is restricted to buyers.".

The setting is called `_edd_cr_restricted_message`. It is not used for the `[edd_restrict]` shortcode.

It should check if a message was entered by the site owner - and also run through the same filter as the normal

[2017-10-11 19:04] cklosowski commented on #80
Seems like a perfectly valid use case. If we can do it via the settings, we should be able to do it via the shortcode.

[2017-10-11 19:09] cklosowski commented on #72
there is some logic in the Additional Shortcodes extension that does this by using the `download_id:price_id` notation, we could reuse that.

[2017-10-11 19:10] cklosowski commented on #71
I think @spencerfinnell has a point here in that it does imply the same thing as the exposed empty settings, but it for sure cleans up the UI...let's do this.

[2017-10-11 19:11] cklosowski commented on #71
@SDavisMedia not quite a year ;) but damn close.

[2017-10-15 02:04] mintplugins opened #82 "Add a shortcode for users who do not have access."
For users who do not have access, while the [edd_restrict] shortcode does allow you to enter a message attribute, it won't work for someone who wants to show something like a YouTube video.

Use case: Selling access to videos and showing a trailer to anyone who does not have access.

The shortcode could be something like this:

[edd_cr_no_access id="#"]YouTube Trailer URL here[/edd_cr_no_access]

[2017-10-15 02:04] mintplugins commented on #82
Related Customer Ticket:
https://secure.helpscout.net/conversation/448320216/68434/

[2018-02-15 14:47] dgoldak opened #83 "Ability to restrict content in bulk"
A customer has a number of pages they want to restrict for a product and is requesting the ability to restrict pages in bulk vs having to go to each page one at a time.

https://secure.helpscout.net/conversation/522149321/75938?folderId=1847242

[2018-02-25 15:35] hzv4424 opened #84 "{product_name} short-code don't work in Single Restriction Message"
by using {product_name} short-code users that does not have access to post, must see the relative download title
but {product_name} appear on final massage.

[2018-03-01 21:06] #84 closed

[2018-06-21 15:24] mintplugins opened #86 "Add support for restriction based on "completed" subscriptions"
If a customer's Recurring Payments subscription's status is `Completed`, they lose access to the content in Content Restriction. An argument could be made that this is not expected behaviour.

To account for this case we'll update the Content Restriction integration to include an option that lets admins limit content to:

Active subscriptions
Active and completed subscriptions
Completed subscripti

[2018-06-21 16:05] mintplugins commented on #86
This will go in Recurring Payments, not in Content Restriction. Closing this and re-opening
https://github.com/easydigitaldownloads/edd-recurring/issues/1000

[2018-06-21 16:05] #86 closed